.header {
  padding: 1.875rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
.headingleft {
  .option {
    display: none;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
.headerWrap {
  display: flex;
  align-items: center;
}
.logoWrap {
  width: 20.25rem;
  img {
    width: 13.75rem;
    height: 3.125rem;
    object-fit: cover;
  }
}
.headingRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0%;
}
.inputWrap {
  position: relative;
  flex: 1 1 60%;
  input {
    width: 43.75rem;
    padding: 0.9375rem 0.9375rem 0.9375rem 3.125rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid gray;
    outline: none;
    font-size: 0.9375rem;
  }
  span {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    width: 1.25rem;
    height: 1.25rem;
    transform: translateY(-50%);
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.userWrap {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  p {
    font-weight: 600;
  }
  div {
    width: 3.4375rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
@media screen and (min-width: 1101px) and (max-width: 1250px) {
  .userWrap {
    p {
      display: none;
    }
  }
}
@media screen and (min-width: 900px) and (max-width: 1100px) {
  .logoWrap {
    width: 250px;
  }
  .headingRight {
    input {
      width: 100%;
    }
  }
  .userWrap {
    p {
      display: none;
    }
  }
}
@media screen and (min-width: 728px) and (max-width: 899px) {
  .logoWrap {
    width: 200px;
    img {
      width: 12.5rem;
      height: 2.8125rem;
      object-fit: cover;
    }
  }
  .headingRight {
    input {
      width: 400px;
      padding: 12px 12x 12px 45px;
      border-radius: 8px;
    }
  }
  .userWrap {
    p {
      display: none;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 727px) {
  .logoWrap {
    width: 9.375rem;
    img {
      width: 9.375rem;
      height: 2.5rem;
      object-fit: cover;
    }
  }
  .headingleft {
    display: flex;
    .option {
      display: block;
    }
  }
  .headerWrap {
    justify-content: space-between;
  }
  .headingRight {
    flex: 0 0;
  }
  input {
    // width: 300px;
    // padding: 10px 10px 10px 45px;
    // border-radius: 7px;
    // display: none;
  }
  .inputWrap {
    display: none;

    // visibility: hidden;
  }
  .userWrap {
    p {
      display: none;
    }
    div {
      width: 40px;
      height: 40px;
    }
  }
}
