.wrapper {
  display: grid;
  grid-template-columns: 321px 1fr 370px;
  overflow: visible;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 250px 1fr 300px;
  }
}
@media screen and (min-width: 375px) and (max-width: 727px) {
  .wrapper {
    grid-template-columns: 250px 1fr;
  }
}
