.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    max-width: 550px;
    height: auto;
    padding: 20px;
    width: 100%;
    background-color: #f6f7f8;
    border-radius: 10px;
  }
}
