.aside {
  width: 100%;
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  position: sticky;
  top: 7.125rem;
  align-self: flex-start;
  height: 810px;
  background: #fff;
}
.menuBlock {
  padding: 1.25rem 1.875rem;
  color: #4e5d78;
}
.menuActive {
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
  background-color: #4e5d78;
  color: white;
}
.active {
  display: flex !important;
}
@media screen and (min-width: 375px) and (max-width: 727px) {
  .aside {
    display: none;
    height: 780px;
  }
}
