* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4e5d78;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-size: 100%;
  // background-color: #f9fafb;
}

.react-datepicker-wrapper {
  width: 100%;

  .react-datepicker__input-container {
    input {
      width: 100%;
      padding: 11px;
      border: 1px solid black;
      border-radius: 10px;
      outline: none;
    }
  }
}

.dataResult {
  position: absolute;
  width: 43.75rem;

  border-radius: 0.625rem;
  top: 55px;
  z-index: 1000;
  background-color: #E5E7EB;

  .userFilter {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 10px;

    p {
      font-weight: 600;
    }

    div {
      width: 30px;
      height: 30px;
      border-radius: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    &:is(:first-child) {
      border-radius: 0.625rem 0.625rem 0 0;
    }

    &:is(:last-child) {
      border-radius: 0 0 0.625rem 0.625rem;
    }

    &:hover {
      background-color: #4e5d78;

      p {
        color: white;
      }
    }
  }


}